body{
    background-color: #4A90E2;
    color: black;
}

.heading{
    font-size:30px;
    width: 100%;
}

#result{
    width: 350px;
    height: 350px;
    border: 2px ridge black ;
    
}

#camera{
    width: 350px;
    height: 350px;
    border: 2px ridge black ;
    
}

.object{
    padding: 5px;
    font-size: 20px;
    display: block;
}